
html{
    font-family:"Microsoft YaHei", serif;
    font-size:14px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
button,
input,
textarea,
th,
td{
  margin:0;
  padding:0;
}
ul,
ol{
    list-style:none;
}
a{
    text-decoration:none;
    display:block;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
/*图片块化*/
img{
    border:0;
}
.main{
    box-sizing:border-box;
    width:100%;
    max-width:1260px;
    margin:0 auto;
    padding:0 50px;
}